{% extends "base.html" %}
{% load static %}
{% load cabinet_extras %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'cabinet-home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'cabinet-factures' %}">Factures</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ annee }}</li>
    </ol>
</nav>
<p>Total des factures par patient pour {{ annee }}</p>

<table class="table table-sm">
    <thead>
        <tr>
            <th>Patient</th>
            <th>Total</th>
            <th>Statut</th>
        </tr>
    </thead>
    
    {% for facture in factures %}
    <tr>
        <td><a href= "{% url 'cabinet-patient-info' facture.patient %}">{{ facture.patient__nom }}</a></td>
        <td>{{ facture.total_factures | floatformat:2 }}€</td>
        <td>
            {% if facture.paye %}
                <span class="badge rounded-pill bg-success">Payée</span>
            {% else %}
                <span class="badge rounded-pill bg-danger">Non payée</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
