{% extends "base.html" %}
{% load static %}
{% load cabinet_extras %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'cabinet-home' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Patients</li>
    </ol>
</nav>
<p>Liste des partients:</p>
{% regroup liste_patients by nom|slice:":1" as lettre_patient %}
{% for lettre in lettre_patient %}
    <h4>{{ lettre.grouper }}</h4>
        {% for patient in lettre.list %}
            <a href= "{% url 'cabinet-patient-info' patient.id %}">{{ patient.nom }}</a><br/>
        {% endfor %}
        <p/>
{% endfor %}

{% endblock content %}
